@font-face {
    font-family: Avenir;
    src: url("/assets/fonts/avenir.ttf") format("truetype");
}

body {
    background-color: #e1e1e1 !important;
}

.banner {
    position: relative;
    height: 19vh;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
}

.banner img {
    width: 100%;
    user-select: none;
}

.profilepage {
    width: 92vw;
    margin-top: 4vw;
    margin-left: 4vw;
}


.informations {    
    display: flex;
    flex-direction: row;
    color: #5e5e5e;
   
    z-index: 10;

    width: calc(92vw - 10%);
    height: 160px;

    margin-left: 5%;
    margin-top: 10px;
}
.profile-info {
    margin-left: 170px;
}

.profile-name {
    position: absolute;
    display: flex;
    border: 5px solid white;
    color: white;
    background-color: #bababa;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    user-select: none;
    font-family: Avenir;
    font-size: 70px;
    font-weight: 900;

    top: -40%;
    left: 0%;
}

@media(max-width: 550px){
    .profile-name {
        display: none;
    }

    .profile-info {
        margin-left: 20px;
    } 
}



.informations .mail {
    font-weight: bolder;
    margin-bottom: 0px !important;
    font-size: 22px;
}

.informations .joined {
    font-size: 15px;
    font-family: Avenir;
}


.buttons {
    margin-left: auto;
    margin-top: 15px;
}

.buttons a{
    color: white;
    border-radius: 7px;
    padding: 10px;
    border: none;
}

@media(max-width: 500px){
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons a {
        margin-top: 2px;
        padding: 5px;
    }
}

.buttons .chat {
    background-color: #fc7593;
}

.buttons .signal {
    background-color: #fd9662;
}

.products-profile {
    border-radius: 8px;
    background-color: #fff;
} 

.more {
    color: white;
    background-color: #1f1e29;
    border-radius: 7px;
    padding: 2px 9px 2px 9px;
    border: none;
    font-weight: 900;
    font-size: 22px;

}

.more:hover {
    background-color: #5e5e5e;
}
.more:active {
    background-color: #5e5e5e;
}
.products .title {
    height: 20px;
    overflow: hidden;
}

.products .pricepr {
    padding-top: 20px;
}

.cards {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom:  3%;
    height: 25vh;
}

.cards h5 {
    margin-bottom: 14px;
}

.more-infos {
    background-color: white;
    width : 48%;
    border-radius: 8px;
    padding: 10px;
    overflow: scroll;

}

.more-infos p {
    padding: 10px;
    background-color: #e1e1e1;
    width: 48%;

    border-radius: 8px;
    height: 100%;
}

.space {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35%;
}

.comments {
    background-color: white;
    width : 48%;
    border-radius: 8px;
    overflow: scroll;
}

.general-rating i {
    color: #ffbd00;
} 

.number-of-like-under-comments i {
    color: #ff3899;
}

.number-of-products i {
    color: #008cfd;
}

.number-of-comments i {
    color: #9d9d9d;
}

.space i {
    font-size: 20px;
}

.space span {
    display: inline-block;
    font-weight: 800;
    font-family: Avenir;
    width: 89%;
    text-align: center;
    font-weight: 900;
}

.space b {
    font-size: 12px;
    font-weight: 300;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.comment-content {
    width: 90%;
}

.likes {
    width: 10%;
    text-align: end;
}

.hrsep {
    margin-top: 15px;
}

@media(max-width: 550px) {
    .cards {
        flex-direction: column;
    }

    .comments {
        width: 100%;
        height: 60%;
        order: 100;
    }

    .cards {
        height: 75vh;
    }

    .space b {
        display: none;
    }

    .space span {
        display: contents;
    }

    .more-infos {
        width: 100%;
        height: 40%;
        margin-bottom: 15px;
    }

    .more-infos p {
        text-align: center
    }

    .cards {
        justify-content: flex-start;
    }
}

.relative {
    position: relative
}

.commentbar-top {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}


.delete {
    border-radius: 7px;;
    background-color: #af2024;
    border: 1px solid #bd3b3f;
    padding: 6px;
    color: #fff;
    font-weight: 900;
}


.delete:hover {
    background-color: #bd3b3f;
    border: 1px solid #af2024 !important;
}

.delete:active {
    background-color: #bd3b3f !important;
    border: 1px solid #af2024 !important;
}

.settings-center {
    margin-top: 160px;
}

.absolute {
    position: absolute;
}