*:focus {
    outline: none;
}

form {
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(55, 55, 55);
    height: 45px;
}

.searchbar {
    width: 98%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #293e61;
    padding-left: 13px;
}

.max-price {
    width: 89px;
    padding-left: 8px;
    margin-left: 1%;
    border: 1px solid #293e61;
    border-radius: 4px;
}

.button-search {
    width: 43px;
    border-radius: 4px;
    margin-right: 1%;
    border: 1px solid #293e61;
}

i {
    margin: auto;
    font-size: 20px;
}

