
.delete {
    border-radius: 7px;;
    background-color: #af2024;
    border: 1px solid #bd3b3f;
    padding: 6px;
    color: #fff;
    font-weight: 900;
  }
  
  
  .delete:hover {
    background-color: #bd3b3f;
    border: 1px solid #af2024 !important;
  }
  
  .delete:active {
    background-color: #bd3b3f !important;
    border: 1px solid #af2024 !important;
  }
  