/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  margin: 0px;
  width: 83px;
  height: 100%;
  padding: 18px 0px 3px 40px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .dropdown ul {
  display: flex;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}


.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 500;
  color: #0c3c53;
  justify-content: left !important;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

.logincenter {
  padding-top: 12vh !important;
}

.signupform {
  padding-top: 10vh;
}


@media (max-width: 991px) {
  .signupform {
    padding-top: 7vh;
  }

  .logincenter {
      padding-top: 0 !important;
  }
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.pdlp {
  padding-left: 1vw !important;
}

.cartn {
  display: block !important;
  margin-top: 15% !important;
  overflow: scroll;
  max-height: 55vh;
  width: 15vw;
}

.cartn i {
  padding: 0px;
  margin: 0px;
}

.notif {
  width: 260px;
} 

.msgs p {
  font-size: 10px;
}

@media (max-width: 991px) {
  .whenigrowibecomeablock {
    display: block;
  }

  .takefull {
    width: 100% !important;
  }

  .marginlr {
    width: 94% !important;
    margin-left: 3%;
    margin-right: 3%;
  }


  .cartn {
    margin-left: 2vw !important;
    margin-top: 7px !important;
  }

  .carti {
    padding-left: 11px;
  }

  a {
    padding-left: 0px;
  }

  .pdlp {
    padding-left: 12px !important;
  }

  .badge-number {
    inset: inherit !important;
    margin-left: 30px;
    margin-bottom: 15px;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  background: #37517e;
}

#hero .container {
  padding-top: 91px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    margin-top:0px;
    padding-top:0px;
    height: 90vh;
    text-align: center;
  }

  #hero .hero-img {
    text-align: center;
    margin-top: 0px; 

  }

  #hero .hero-img img {
    width: 50%;    
    margin-top: 0px; 

  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}




/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 60px;}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 25px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info .li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.portfolio-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: linear-gradient(to bottom right, #293e61, #85a2c2);
  height: 47vh !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.imgpres {
  height: 29vh;
}

.show {
  font-size: 22px;
  color: white;
  display: none;
  font-weight: bold;
}

.portfolio-wrap:hover .show {
  display: block;
}

.addtocart {
  background-color: #293e61 !important; 
  font-size: 19px !important;
  font-weight: bold;
  padding: 14px 28px;
  border-radius: 50px;
  color: #fff;
  border: 2px solid #007185 !important;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;

}

.formshow {
  margin-bottom:5%;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.showprice {
  font-weight: 700;
  font-size: 32px;
  color:#47b2e4;
}

.pricedol {
  font-size: 20px;
  font-weight: 500;
}

.addtocart i {
  margin-left: 1vw;
  font-weight: bold;
}

.addtocart:hover{
  background-color:#007185 !important;
  transform: scale(1.05);

}

.links {
  font-size:22px;
  margin-top:50%;
  color: white !important;
}

.descr {
  font-size: 18px;
  overflow-y: scroll !important;
  word-wrap: break-word;
  height: 100%;
}

.button {
  color: white !important;
  background-color: #293e61;
  font-size: 21px;
  font-weight: bold !important;
  padding-left: 27% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  padding-left: 35% !important;
  border-radius: 5px;
}

.trash-cart {
  cursor: pointer;
  margin: auto;
  width: 15%;
  border: 1px solid #d3d7d7;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.noone {
  padding: 0px;
  margin: 0px;
}

.rating {
  margin-top: 2px;
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 28px;

  float: right;
  cursor: pointer;
  color: #ccc;
}

.rating label:before {
  content: '\2605'; 
}

.rating input:checked ~ label {
  color: #f7d419; 
}

.rating label:hover,
.rating label:hover ~ label {
  color: #f7d419; 
}

.profile{
  
  display:flex;
}

.name {
  font-family: Hind Madurai, Hind-fallback, Arial, sans-serif;
  margin-left: 10px;
  margin-top: 14px;
  color: #007185;
}


.stars {
  display: flex;
  font-size:14px;
  margin-top: 10px;
}

.at {
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  color:#9fa1a1;
  margin-left: 10px;
}

.comment {
  margin-top: 2%;
  margin-bottom:2%;

  font-family: "Amazon Ember",Arial,sans-serif;
  color: #0F1111;

  word-wrap: break-word;
}


abbr {
  border: 0;
  color: red;
  padding: 0 .3em 0 0;
  text-decoration: none
}



.commentbar:focus{
  outline: none;

}

.title {
  color: #444444; 
  font-size: 18px !important;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.titlebar {
  padding-left: 10px;
  width: 100%;
  height: 40%;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #d7d9e4;
  margin-bottom: 10px;
}

.commbutton {
  border-radius: 8px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px !important;
  margin-top: 4vh;
  height: 32px;
  border: 1px solid;;
  border-color: #007185;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0);
  background-color: #293e61 !important;
  padding-left: 18px;
  padding-right: 18px;
  transition: all 0.4s;;
}

.titlecomm {
  font-family: "Amazon Ember", Arial, sans-serif; 
  font-weight: 700; 
  margin-bottom: 10px;
}

.commbutton:hover {
  background-color: #007185;
  color: white;
}

.titlebar:focus {
  outline: none;
}

.btn-profile{
  margin-left: auto;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
  color: #525f7f;
  box-shadow: 0 1px 3px rgba(50,50,93,.15),0 1px 0 rgba(0,0,0,.02) !important;
  border: 1px solid #ced4da;   
  border-radius: .375rem  !important;
}


.input-beautify{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-left: auto;
  font-size: 18px; 
  padding-left: 4px; 
  width: 70%;
  border: 1px solid #717279;
  border-radius: 5px; 
  background-color: #293e61; 
  color: white;
}  

.input-beautify:focus{
  outline: none;
}

.w-50 {
  width: 50% !important;
}




.select-beautify {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 7vh; 
  margin-left: auto; 
  font-size: 18px; 
  padding-left: 4px; 
  width: 70%;
  border: 1px solid #717279;
  border-radius: 5px; 
  background-color: #293e61;
  color: white;
}

.buttonupdate {
  margin-left: 22%;
  margin-top: 0px;
  margin-bottom: 3%;
}

.select-beautify:focus{
  outline: none;
}

.textarea-beautify {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #293e61; 
  color: white; 
  padding-left: 4px; 
  padding-top: 8px; 
  border-radius: 5px; 
  border: 1px solid #717279;
 
  width: 100%; 
  height: 15vh; 
  font-size: 16px;
}

.textarea-beautify:focus{
  outline: none;
}

.trash {
  margin-left: auto;
  margin-top: 0vh;
  font-size: 26px; 
}

.portfolio-links {
  word-wrap: break-word;
}


.dots{
  float: right;
  font-size: 22px;
  border-radius: 20px;
  padding: 4px;
  height: 31px;
}

.dots:hover {
  background-color: #dbd7d7;
}

.menu {
  margin-left: auto;
  margin-right: 2%;
  font-weight: bold;
  display: flex;
  justify-content: right;
  margin-right: 1%;
  border-radius: 6px;
  background-color: #af2024;
  border: 1px solid #af2024;
  padding: 4px 6px 0px 6px !important;
  height:32px;
}


.menu:hover {
  background-color: #bd3b3f;
  border: 1px solid #af2024 !important;
}

.menu:active {
  background-color: #bd3b3f !important;
  border: 1px solid #af2024 !important;
}

.update:hover {
  background-color: #484883 !important;
  border: 1px solid #32325d !important;

}

.update:active {
  background-color: #484883 !important;
  border: 1px solid #32325d !important;

}

.update {
  height: 32px;
  margin-left: auto !important;
  margin-right: 6px;
  padding: 4px 6px 0px 6px !important;
  background-color: #32325d;
  border: 1px solid #484883;

}



.none {
  display: none !important;
}

.sendmsg {
  padding-top: 4%;
  font-size: 31px;
}

.sendmsg i {
  color: #4cb4e4 !important;
  font-size: 25px;
}

.mr-3 {
  margin-right: 49%;
}

.contactuser {

  font-size: 22px;

}


table {
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0F1111 !important;
  border-collapse: collapse;
  width: 60vw !important;
}

table th, td {
  border: 1px solid rgb(34, 32, 32);
  padding: 8px;
  text-align: left; /* Modification de l'alignement à gauche */
}

td {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;

}

.commentsbox {
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  border: 1px solid #f5f5f5;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.amazonpolice{
  font-family: "Amazon Ember", Arial, sans-serif !important;
}

.commentlink {
  color: #007185;
  cursor: pointer; 
}

.commentlink:hover {
  color: #73c5eb; 
}

.commentsbox input {
  color: #162938;
  background-color: #f5f5f5;
}
.commentsbox textarea {
  color: #162938;
  background-color: #f5f5f5;
}


table td a {
  color: #007185;
}

table th {
  background-color: #324769;
  color: white;
}

tr:nth-child(even) td {
  background-color: white;
}

.productinfo i {

  color: #000000;
  font-size: 18px;
}

.badge-number {
  position: absolute;
  inset: 1px 0px auto auto;
  font-weight: 700;
  font-size: 10px;
  padding: 2.5px 5px;
  background-color: #007185 !important;
  color: #fff;
}

.showcart {
  background-color: #293e61;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 20px;
}

.productcart {
  display: flex;
  flex-direction: row;
  
}

.imgcart {
  height: 25vh;
  width: 25vw;
  display: flex;
}

.imgcart img {
  height: 80%;
  margin: auto;
}

.price {
  overflow: scroll;
  color: white;
  width: 5vw;
  text-align: center;
  padding-top: 12vh;
}

.link {
  overflow: scroll;

  margin-left: 15%;
  padding-top: 12vh;

}

.buttoncart {
  color: white;
  background-color: #121212;
  border: 1px solid var(--neutral-300);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 8vh;
  font-weight: bold;
  font-size: 19px !important;
}

.deleteprod {
    font-size: 19px !important;
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 50px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    background-color: #af2024 !important;
    border: 1px solid #bd3b3f !important;  
    color: white;
}

.deleteprod i {
  margin-left: 1vw;
}

.deleteprod:hover{
  background-color: #bd3b3f !important;
  border: 1px solid #af2024 !important; 

  transform: scale(1.05);
}

.red {
  color: white;
  background-color: #af2024 !important;
  border: 1px solid #bd3b3f !important;  
}
.red:hover .red:focus {
  background-color: #bd3b3f !important;
  border: 1px solid #af2024 !important; 
  
 
}

.logout {
  height: 100%; 
  margin-left: auto; 
  border: 1px solid #af2024; 
  background-color: #af2024;
}

.logout:hover{
  background-color: #bd3b3f;
  border: 1px solid #bd3b3f; 
}


.logout:active{
  background-color: #bd3b3f !important;
  border: 1px solid #bd3b3f !important; 
}

.block {
  display: inline-block;
}

.totalprice {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  text-align: center;;
}

.valuetotalprice {
  font-weight: 900;
  font-size: 32px;
  color: #73c5eb;
  padding-left: 10px;
}

.hoverblue {
  background-color: #007185;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}


.notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.notification-item a {
  padding: 0 !important;
  font-size: 13px !important;
  margin: 0px;
  margin-bottom: 3px;

  color: #007185 !important;
}
.notification-item:hover {
  background-color: #f6f9ff;
}


@media (max-width: 991px) {

  .w-50 {
    width: 100% !important;
  }

  .buttonupdate {
    margin-left: 26% !important;
  }

  .deleteprod {
    margin-left: 26% !important;
  }

}


.w100 {
  width: 100%;
  display: flex;
  margin: auto;
}

.paginationbutton {
  background-color: #37517e;
  color: white;
  border: 1px solid rgb(13, 110, 253);
  border-radius: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
}

.paginationbutton:hover {
  background-color: rgb(13, 110, 253);
  transition: all 0.4s;
}


.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
}

.buttonpag {
  border:none;
  background-color: white;
  width: 100%;
}

.portfoliodetails {
  color: #f9fcfe; 
  background-color: rgba(55,81,126,.8); 
  height: 16%; 
  width: 100%; 
  text-align: center; 
  padding-top: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.portfolio-wrap:hover .portfoliodetails {
  
  display: block;
}

.hrproducts {
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #000;
}

/* product page */

.products {
  background-color: #37517e;
  color: white !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 11px;
}

.products .title {
  font-weight: 600;
  color: white;
  padding-bottom: 15px;
  font-size: 20px;

}



.products .pricepr {
  display: flex;
  font-size: 17px;
  font-family : "Amazon Ember", Arial, sans-serif;
  word-wrap: break-word;
} 

.products .pricepr span {
  font-size: 11px;
  padding-left: 4px;
}

.products .categ {
  font-size: 14px;
}

.pr_stars {
  font-size: 6px;
  margin-top: 0;
  margin-left: auto !important;
  margin-bottom: 0 !important;
}

.section * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f8fd;
}
.containers {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  -webkit-touch-callout: none !important;
  /* iOS Safari */
  -webkit-user-select: none !important;
  /* Safari */
  -khtml-user-select: none !important;
  /* Konqueror HTML */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* Internet Explorer / Edge */
  user-select: none !important;

  cursor: initial;
  background: #fff;
  border-radius: 8px;

}
.card .image-box {
  cursor: pointer !important;
  height: 150px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
  padding-top: 4px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 18px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #fff !important;
  height: 50px !important;
  width: 50px !important;
  transform: translateY(-40%);
  background: #000;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px !important;
}

.swiper-pagination-bullet {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

.like {
  transition: all 0.5s;

  border-radius: 20px;
  padding: 1px 4px;
  display: flex;
  background: rgb(203, 200, 200);
  margin-bottom: 0px !important
}

.like i {
  margin-left: 5px;
  margin-right: 4px;
  color: red;
}

.likespan {
  display: inline-block; 
  margin-left: auto;
  font-weight: normal;
}

.likespan span {
  margin-left: 5px;
}

.like:hover{
  transform: scale(1.15);
}

.results_for {
  padding-left: 10px;
  background-color: #f5f5f5;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 4px;
  font-size: 23px;
}

.results_for span {
  color: #007185;
}

.searchbarindex {
  display: flex;
  width: 100%;
  font-weight: 600;
  color: rgb(55, 55, 55);
  height: 45px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin: 0px;
  padding: 0px !important;
  margin-top: 5%;

}

.searchbarindex input {
  width:92%;
  height: 100%;
  border: 0px solid #eee;
  border-radius: 0px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  font-size: 19px;
  padding-left: 10px;
}

.searchbarindex button {
  width: 8%;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border: 0;
}

.searchbarindex button i {
  margin: auto;
  font-size: 20px;
}

.sep {
  margin-left: 25px; 
  background-color: white;
  height: 100%;
  width: 1px;
  margin-right: 10px;
}

.nav-link {
  width: 90px;
  height: 50px;
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: left;
  transform: scaleX(1);
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 65%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  top: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.nav-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);

  
}

.nav-link a {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: white !important
}
.nav-link a:hover {
  color: white !important
}


@media (max-width: 1366px) {
  .nav-link:hover {
    color: #405984 !important
  }
  .nav-link a:hover {
    color: #405984 !important
  }

}


.nav-link i {
  font-size: 24px !important;
  margin: 0 !important;
  padding: 0;
  margin-bottom: 17px !important;
  font-size: 1.5rem;
}

.nav-link span {
  font-size: 12px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  line-height: 0 !important;
}

.products {
  display: flex;
  flex-direction: column;
}

.products li {
  display: flex;
  justify-content: left;
  text-align: left;
  margin-right: auto;
}

.products li a {
  display: flex;
  flex-direction: row;
  padding-left: 14px !important;
}

.products li a p {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.showcategory {
  font-size: 16px !important;
}

.padding {
  padding: 0px 9px 0px 5px;
}

.products li a:hover {
  color: #73c5eb;
}

.show_cart {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

