body {
    background-color: #37517e;
}

.main {
    margin-top: 3%;
    padding: 3% 2%;
    height: 91vh;
    background-color: #37517e;
}

.content {
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.right {
    justify-content: right;
    width: 80%;
    border: 1px solid #e3e3e3;
    background-color: #f7f7f7;
    height: 84vh;
}

.left {
    justify-content: left;
    width: 20%;
    background-color: #293e61;
    overflow: scroll;
    height: 84vh;
}

.profile-box {
    display: block;
    height: 10%;
    width: 100%;
    font-size: 17px;
    color: #fff;
    padding-right: 7%;
    padding-top: 8%;
    padding-bottom: 15%;
    padding-left: 8%;
}

.msgs {
    height: 87%;
    margin-top: 1%;
    overflow: scroll;
    background-color: #fff;
}

.textbar {
    height: 10%;
    background-color: 20%;
}

.textbar input {
    padding-left: 10px;
    height: 6vh;
    margin-left: 1%;
    width: 89%;
    font-size: 18px;
    padding-bottom: 1px;
}

.textbar button {
    width: 9%;
    height: 6vh;
    border-radius: 5px;;
    margin-top: 5px !important;
    background-color: #293e61;
    border: 1px #293e61;
    color: white;
    font-size: 18px;
}

.message {
    background-color: #dbd7d7;
    padding: 15px;
    border-radius: 5px;
    margin: 1%;
    word-wrap: break-word;
}

.from-me {
    background-color: #d1eaf9;
}

.red {
    background-color: #37517e;
}

.profile-box:hover {
    color: #dbd7d7;
}

hr {
    margin: 0;
    padding: 0;
    color: #f7f7f7;
}
