@font-face {
    font-family: Avenir;
    src: url("/assets/avenir.ttf") format("truetype");
}

body {
    background-color: #f2f2f2 !important;
}

.banner {
    position: relative;
    height: 19vh;
    border-radius: 12px;
    overflow: hidden;
    user-select: none;
}

.banner img {
    width: 100%;
    user-select: none;
}

.profilepage {
    width: 92vw;
    margin-top: 4vw;
    margin-left: 4vw;
}


.informations {
    position: absolute;
    
    display: flex;
    flex-direction: row;
    color: #5e5e5e;
   
    z-index: 10;

    width: calc(92vw - 10%);
    height: 160px;

    margin-left: 5%;
    margin-top: 10px;
}
.profile-info {
    margin-left: 170px;
}

.profile-name {
    position: absolute;
    display: flex;
    background-color: #dcdbe0;
    color: #1f1e29;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    user-select: none;
    font-family: Avenir;
    font-size: 70px;
    font-weight: 900;

    top: -40%;
    left: 0%;
}

@media(max-width: 550px){
    .profile-name {
        display: none;
    }

    .profile-info {
        margin-left: 20px;
    } 
}



.informations .mail {
    font-weight: bolder;
    margin-bottom: 0px !important;
    font-size: 22px;
}

.informations .joined {
    font-size: 15px;
    font-family: Avenir;
}


.buttons {
    margin-left: auto;
    margin-top: 15px;
}

.buttons a{
    color: white;
    border-radius: 7px;
    padding: 10px;
    border: none;
}

@media(max-width: 500px){
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons a {
        margin-top: 2px;
        padding: 5px;
    }
}

.buttons .settings {
    background-color: #09a6d6;
}

.buttons .chat {
    background-color: #fc7593;
}

.buttons .signal {
    background-color: #fd9662;
}

.products-profile {
    margin-top: 150px;
    border-radius: 12px;
    background-color: #fff;
} 

.more {
    color: white;
    background-color: #1f1e29;
    border-radius: 7px;
    padding: 2px 9px 2px 9px;
    border: none;
    font-weight: 900;
    font-size: 22px;

}

.more:hover {
    background-color: #5e5e5e;
}
.more:active {
    background-color: #5e5e5e;
}
.products .title {
    height: 20px;
    overflow: hidden;
}

.products .pricepr {
    padding-top: 20px;
}