/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

.logincenter {
  padding-top: 12vh !important;
}

.signupform {
  padding-top: 12vh;
}

@media (max-width: 991px) {
  .signupform {
    padding-top: 7vh;
  }

  .logincenter {
      padding-top: 0 !important;
  }
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.pdlp {
  padding-left: 1vw !important;
}

.cartn {
  margin-top: 15% !important;
}

.notif {
  width: 260px;
} 

.msgs p {
  font-size: 10px;
}

@media (max-width: 991px) {
  .whenigrowibecomeablock {
    display: block;
  }

  .takefull {
    width: 100% !important;
  }

  .marginlr {
    width: 94% !important;
    margin-left: 3%;
    margin-right: 3%;
  }


  .cartn {
    margin-left: 2vw !important;
    margin-top: 7px !important;
  }

  .carti {
    padding-left: 11px;
  }

  a {
    padding-left: 0px;
  }

  .pdlp {
    padding-left: 12px !important;
  }

  .badge-number {
    inset: inherit !important;
    margin-left: 30px;
    margin-bottom: 15px;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  background: #37517e;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}


#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}




/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}


.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #209dd8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}






.portfolio-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: linear-gradient(to bottom right, #293e61, #85a2c2);
  height: 30vh;
}


.imgpres {
  height: 25vh;
}

.show {
  font-size: 22px;
  color: white;
  display: none;
  font-weight: bold;
}

.portfolio-wrap:hover .show {
  display: block;
}

.addtocart {
  background-color: #293e61 !important; 
  font-size: 19px !important;
  font-weight: bold;
  padding: 14px 28px;
  border-radius: 50px;
  color: #fff;
  border: 2px solid #007185 !important;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;

}

.formshow {
  margin-bottom:5%;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.showprice {
  font-weight: 700;
  font-size: 32px;
  color:#47b2e4;
}

.pricedol {
  font-size: 20px;
  font-weight: 500;
}

.addtocart i {
  margin-left: 1vw;
  font-weight: bold;
}

.addtocart:hover{
  background-color:#007185 !important;
  transform: scale(1.05);

}

.links {
  font-size:22px;
  margin-top:50%;
  color: white !important;
}

.descr {
  font-size: 18px;
  overflow-y: scroll !important;
  word-wrap: break-word;
  height: 100%;
}

.show_cart  {
  display: flex;
}

.button {
  color: white !important;
  background-color: #293e61;
  font-size: 21px;
  font-weight: bold !important;
  padding-left: 27% !important;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 35% !important;
  border-radius: 5px;
}

.trash-cart {
  margin-left: auto; 
  margin-right: 4%; 
  margin-top: 3%; 
  font-size:21px; 
  color: #007185;
}

.noone {
  padding: 0px;
  margin: 0px;
}

.rating {
  margin-top: 2px;
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 28px;

  float: right;
  cursor: pointer;
  color: #ccc;
}

.rating label:before {
  content: '\2605'; 
}

.rating input:checked ~ label {
  color: #f7d419; 
}

.rating label:hover,
.rating label:hover ~ label {
  color: #f7d419; 
}

.profile{
  
  display:flex;
}

.name {
  font-family: Hind Madurai, Hind-fallback, Arial, sans-serif;
  margin-left: 10px;
  margin-top: 14px;
  color: #007185;
}


.stars {
  font-size:14px;
  margin-top: 10px;
}

.at {
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  color:#9fa1a1;
  margin-left: 10px;
}

.comment {
  margin-top: 2%;
  margin-bottom:2%;

  font-family: "Amazon Ember",Arial,sans-serif;
  color: #0F1111;

  word-wrap: break-word;
}


abbr {
  border: 0;
  color: red;
  padding: 0 .3em 0 0;
  text-decoration: none
}

.commentbar {
  font-size: 14px !important;
  padding-left: 10px;
  width: 100%;
  height: 80%;
  border-radius: 4px;
  border: 1px solid #d7d9e4;
}

.commentbar:focus{
  outline: none;

}

.title {
  color: #444444; 
  font-size: 18px !important;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.titlebar {
  padding-left: 10px;
  width: 100%;
  height: 40%;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #d7d9e4;
  margin-bottom: 10px;
}

.commbutton {
  border-radius: 8px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px !important;
  margin-top: 4vh;
  height: 32px;
  border: 1px solid;;
  border-color: #007185;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0);
  background-color: #293e61 !important;
  padding-left: 18px;
  padding-right: 18px;
  transition: all 0.4s;;
}

.titlecomm {
  font-family: "Amazon Ember", Arial, sans-serif; 
  font-weight: 700; 
  margin-bottom: 10px;
}

.commbutton:hover {
  background-color: #007185;
  color: white;
}

.titlebar:focus {
  outline: none;
}

.btn-profile{
  margin-left: auto;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
  color: #525f7f;
  box-shadow: 0 1px 3px rgba(50,50,93,.15),0 1px 0 rgba(0,0,0,.02) !important;
  border: 1px solid #ced4da;   
  border-radius: .375rem  !important;
}


.input-beautify{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-left: 11%; 
  font-size: 18px; 
  padding-left: 4px; 
  width: 70%;
  border: 1px solid #717279;
  border-radius: 5px; 
  background-color: #293e61; 
  color: white;
}  

.input-beautify:focus{
  outline: none;
}

.w-50 {
  width: 50% !important;
}




.select-beautify {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 7vh; 
  margin-left: 7%; 
  font-size: 18px; 
  padding-left: 4px; 
  width: 70%;
  border: 1px solid #717279;
  border-radius: 5px; 
  background-color: #293e61;
  color: white;
}

.buttonupdate {
  margin-left: 22%;
  margin-top: 0px;
  margin-bottom: 3%;
}

.select-beautify:focus{
  outline: none;
}

.textarea-beautify {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #293e61; 
  color: white; 
  padding-left: 4px; 
  padding-top: 8px; 
  border-radius: 5px; 
  border: 1px solid #717279;
 
  width: 100%; 
  height: 15vh; 
  font-size: 16px;
}

.textarea-beautify:focus{
  outline: none;
}

.trash {
  margin-left: auto;
  margin-top: 0vh;
  font-size: 26px; 
}

.portfolio-links {
  word-wrap: break-word;
}


.dots{
  float: right;
  font-size: 22px;
  border-radius: 20px;
  padding: 4px;
  height: 31px;
}

.dots:hover {
  background-color: #dbd7d7;
}

.menu {
  margin-left: 90%;
  font-weight: bold;
  display: flex;
  justify-content: right;
  padding: 5px;
  margin-right: 1%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #af2024;
  border: 1px solid #af2024;
}


.menu:hover {
  background-color: #bd3b3f;
  border: 1px solid #af2024 !important;
}

.menu:active {
  background-color: #bd3b3f !important;
  border: 1px solid #af2024 !important;
}

.update:hover {
  background-color: #007185 !important;
  border: 1px solid #32325d !important;

}

.update:active {
  background-color: #007185 !important;
  border: 1px solid #32325d !important;

}

.update {
  background-color: #32325d;
  border: 1px solid #007185;

}

.menu i {
  margin-left: 10px;
}

.none {
  display: none !important;
}

.sendmsg {
  padding-top: 4%;
  font-size: 31px;
}

.sendmsg i {
  color: #4cb4e4 !important;
  font-size: 25px;
}

.mr-3 {
  margin-right: 49%;
}

.contactuser {

  font-size: 22px;

}


table {
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0F1111 !important;
  border-collapse: collapse;
  width: 60vw !important;
}

table th, td {
  border: 1px solid rgb(34, 32, 32);
  padding: 8px;
  text-align: left; /* Modification de l'alignement à gauche */
}

td {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;

}

.commentsbox {
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  border: 1px solid #f5f5f5;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.amazonpolice{
  font-family: "Amazon Ember", Arial, sans-serif !important;
}

.commentlink {
  color: #007185;
  cursor: pointer; 
}

.commentlink:hover {
  color: #73c5eb; 
}

.commentsbox input {
  color: #162938;
  background-color: #f5f5f5;
}
.commentsbox textarea {
  color: #162938;
  background-color: #f5f5f5;
}


table td a {
  color: #007185;
}

table th {
  background-color: #324769;
  color: white;
}

tr:nth-child(even) td {
  background-color: white;
}

.productinfo i {

  color: #000000;
  font-size: 18px;
}

.badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 6px;
  background-color: #007185 !important;
  color: white;
}

.showcart {
  background-color: #293e61;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 20px;
}

.productcart {
  display: flex;
  flex-direction: row;
  
}

.imgcart {
  height: 25vh;
  width: 25vw;
  display: flex;
}

.imgcart img {
  height: 80%;
  margin: auto;
}

.price {
  overflow: scroll;
  color: white;
  width: 5vw;
  text-align: center;
  padding-top: 12vh;
}

.link {
  overflow: scroll;

  margin-left: 15%;
  padding-top: 12vh;

}

.buttoncart {
  color: white;
  background-color: #121212;
  border: 1px solid var(--neutral-300);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 8vh;
  font-weight: bold;
  font-size: 19px !important;
}

.deleteprod {
    font-size: 19px !important;
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 50px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    background-color: #af2024 !important;
    border: 1px solid #bd3b3f !important;  
    color: white;
}

.deleteprod i {
  margin-left: 1vw;
}

.deleteprod:hover{
  background-color: #bd3b3f !important;
  border: 1px solid #af2024 !important; 

  transform: scale(1.05);
}

.red {
  color: white;
  background-color: #af2024 !important;
  border: 1px solid #bd3b3f !important;  
}
.red:hover .red:focus {
  background-color: #bd3b3f !important;
  border: 1px solid #af2024 !important; 
  
 
}

.logout {
  height: 100%; 
  margin-left: auto; 
  border: 1px solid #af2024; 
  background-color: #af2024;
}

.logout:hover{
  background-color: #bd3b3f;
  border: 1px solid #bd3b3f; 
}


.logout:active{
  background-color: #bd3b3f !important;
  border: 1px solid #bd3b3f !important; 
}

.block {
  display: inline-block;
}

.totalprice {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  text-align: center;;
}

.valuetotalprice {
  font-weight: 900;
  font-size: 32px;
  color: #73c5eb;
  padding-left: 10px;
}

.hoverblue {
  background-color: #007185;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}


.notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.notification-item a {
  padding: 0 !important;
  font-size: 13px !important;
  margin: 0px;
  margin-bottom: 3px;

  color: #007185 !important;
}
.notification-item:hover {
  background-color: #f6f9ff;
}


@media (max-width: 991px) {

  .w-50 {
    width: 100% !important;
  }

  .buttonupdate {
    margin-left: 26% !important;
  }

  .deleteprod {
    margin-left: 26% !important;
  }

}